* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #ffffff;
  --bg-color: #f7f6f5;
}

body {
  background-color: var(--bg-color);
  font-family: "Noto Sans Georgian", sans-serif;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  padding: 0px 165px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.image-container {
  width: 50%;
  height: 348px;
  object-fit: cover;
}

.text-container {
  font-family: ;
  width: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 398px;
  background-color: var(--bg-color);
}
.text-wrapper p {
  margin-top: 24px;
  margin-bottom: 32px;
}
